@model BookStoreListViewModel

<div class="text-center">
    <h1 class="display-4">Каталог</h1>
</div>

<form asp-action="List">
    <div class="input-group mb-3">
        <input type="text"
               value="@Model?.SearchText"
               class="form-control"
               placeholder="Поиск..."
               name="searchText">
        <div class="input-group-append">
            <button class="btn btn-dark"
                    type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>


<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <partial name="~/Views/BookStore/Partial/_FilterCard.cshtml"/>
        </aside>
        <main class="col-md-9">

            <partial name="~/Views/BookStore/Partial/_Toolbox.cshtml"/>

            <div class="container">
                <div class="row">
                    @for (int i = 0; i < Model.Books.Count; i++)
                    {
                        <div class="col-md-3 pb-5 d-flex align-items-stretch">
                            <partial name="~/Views/BookStore/Partial/_BookCard.cshtml" for="@Model.Books[i]"/>
                        </div>
                    }
                </div>
            </div>

            <div class="row">

            </div>
            <pager page-model="@Model.PageModel"
                   page-action="List"
                   links-count="11"
                   first-page-text="Начало"
                   last-page-text="Конец"
                   page-classes-enabled="true"
                   page-class="btn"
                   page-class-selected="btn btn-dark"
                   class="btn-group pull-right m-1"
                   page-url-manufacturerId="@Model.FilterModel.SelectedManufacturer?.Id"
                   page-url-sortOrder="@Model.SortModel.SortOrder"
                   page-url-sortBy="@Model.SortModel.SortBy"
                   page-url-searchText="@Model.SearchText">
            </pager>
        </main>
    </div>
</div>